<h1>Add Game To Group</h1>

<p><strong>Group Status:</strong> {{message}}</p>

<style>
    th,td,tr{
        text-align: center;
    }
</style>

<table style="width: 100%">
	<thead>
		<tr>
            <th>Name</th>
            <th>Total Rating</th>
            <th>Url</th>
		</tr>
		<body>
            <tr>
                <td style="width: 15%;">{{name}}</td>
                <td style="width: 15%;">{{total_rating}}</td>
                <td style="width: 15%;"><a href= {{url}}>{{url}}</a></td>
            </tr>
        </body>
	</thead>
</table>