<h1>Game</h1>

<p><strong>Number of games:</strong> {{size}}</p>
<style>
    th,td,tr{
        text-align: center;
    }
</style>
<table style="width: 100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th>Rating Count</th>
			<th>Total Rating</th>
			<th>Url</th>
            {{#if user}}
            <th>Add To Group</th>
            {{/if}}
		</tr>
		<body>
            {{#each games}}
            <tr>
                <td>{{name}}</td>
                <td>{{rating}}</td>
                <td>{{rating_count}}</td>
                <td>{{total_rating}}</td>
                <td><a href= {{url}}>{{url}}</a></td>
                {{#if @root.user}}
                <td style="width: 15%;">
                   <form action="/covida/groups/games/gameToGroup" method="POST">
                    <input type="hidden" name="_method" value="PUT"> 
                       <div style="display: flex; justify-content: space-around;">
                        <select name="targetGroup" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" required>
                            {{#each @root.groups}}
                                <option value='{"groupId":"{{id}}","gameName":"{{../name}}"}'>{{name}}</option>
                             {{/each}}                          
                        </select>
                        <input type="submit" value ="Add">
                    </form>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </body>
	</thead>
</table>

